<div class="form-group home">
    <form (ngSubmit)="addPost()">
        <label for="exampleFormControlTextarea3">What`s in your mind</label>
        <div class="form-group">
            <label>Title</label>
            <input [(ngModel)]="post.title" type="text" class="form-control mb-2" name="title">
        </div>
        <label>Body</label>
        <textarea class="form-control" rows="7" [(ngModel)]="post.body" name="body"> </textarea>

        <button class="btn btn-info mt-3">Add Post</button>
    </form>


    <app-posts [newPosts]="newPost"></app-posts>
</div>